:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
 
  color-scheme: light dark;
  color: rgba(31, 28, 28, 0.87);
  background-color: #e7e4e4;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


